* {
    font-family: 'Poppins', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inProg {
    flex-direction: row;
    display: flex;
}


