* {
    font-family: 'Poppins', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inProg {
    flex-direction: row;
    display: flex;
}

.bg{
    position: fixed;
    left: 48%;
    top: -80%;
    width: 1424px;
    height: 1424px;
    border-bottom-left-radius: 100%;
    animation: bggreen 2s ease;
    background-color: cadetblue;

}
.bg[bggreen='1']  {
    background-color: cadetblue;
}
.bg[bggreen='2'] {
    background-color: chartreuse;
}

@keyframes bggreen {
    0% {
        transform: scale(5);
    }
    100% {
        transform: scale(1);
    }
}

.bg .logo-dsc {
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 25%;
    left: 60%;
    border-radius: 100%;
    animation: breathing 4s linear infinite normal;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes breathing {
    0% {transform: scale(.9);opacity: 1;}
    25% {transform: scale(1);}
    50% {transform: scale(.9);}
    75% {transform: scale(1);}
    100% {transform: scale(.9);opacity: 1;}
}