
:root {
    --Color1: lightblue;
    --Color2: lightgreen;
    --Color3: red;
    --Color4: yellow;
    --circleSize: 85vw;
    --pos1-left: 90vw;
    --pos1-top: 0vh;
    --pos2-left: 0vw;
    --pos2-top: 0vh;
    --pos3-left: 0vw;
    --pos3-top: 100vh;
    --pos4-left: 90vw;
    --pos4-top: 100vh;
  }
.bg{
    position: fixed;
    width: var(--circleSize);
    height: var(--circleSize);
    transition: left 1s,top 1s,background-color 1s;
    left: calc(var(--pos1-left) - var(--circleSize)/2);
    top: calc(var(--pos1-top) - var(--circleSize)/2);
    border-bottom-left-radius: 100%;
    background-color: var(--Color1);

}
.bg[bggreen='1']  {
    background-color: var(--Color1);
    left: calc(var(--pos1-left) - var(--circleSize)/2);
    top: calc(var(--pos1-top) - var(--circleSize)/2);
}
.bg[bggreen='2'] {
    background-color:  var(--Color2);
    left: calc(var(--pos2-left) - var(--circleSize)/2);
    top: calc(var(--pos2-top) - var(--circleSize)/2);
}
.bg[bggreen='3'] {
    background-color:  var(--Color3);
    left: calc(var(--pos3-left) - var(--circleSize)/2);
    top: calc(var(--pos3-top) - var(--circleSize)/2);
}
.bg[bggreen='4'] {
    background-color:  var(--Color4);
    left: calc(var(--pos4-left) - var(--circleSize)/2);
    top: calc(var(--pos4-top) - var(--circleSize)/2);
}


@keyframes bggreen {
    0% {
        transform: scale(5);
    }
    100% {
        transform: scale(1);
    }
}

.bg .logo-dsc {
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 25%;
    left: 60%;
    border-radius: 100%;
    animation: breathing 4s linear infinite normal;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes breathing {
    0% {transform: scale(.9);opacity: 1;}
    25% {transform: scale(1);}
    50% {transform: scale(.9);}
    75% {transform: scale(1);}
    100% {transform: scale(.9);opacity: 1;}
}