.event-main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 32px;
  margin-left: 32px;
}

.event-main .event-page {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event.main .event-page .tab-wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.event-slider {
  min-width: 60vw;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.event-slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.event-slide-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
  height: 100%;
}

.event-card {
  display: flex;
  background-color: #f8d2d2 !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 50vw;
  min-height: 45vh;
  max-width: 50vw;
  min-height: 45vh;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 1rem;
  z-index: 10;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 1rem;
  z-index: 10;
}
.event-media {
  justify-content: space-evenly;
  width: 50%;
}
.event-image {
  width: 100%;
  border-radius: 5%;
}
@media screen and (max-width: 900px) {
  .tab-wrapper {
    display: flex;
    flex-direction: column;
  }
  .event-media {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
  }

  .event-main {
    margin-right: 8px;
    margin-left: 8px;
  }

  .event-main .event-page {
    width: 100%;
    height: 60%;
  }
  .event-main h1 {
    margin-block-end: 0%;
    margin-block-start: 0%;
    font-size: 1.1rem;
  }
  .event-main p {
    font-size: 0.85rem;
  }

  .event-slider {
    height: 55vh;
  }

  .event-card {
    max-height: 43vh;
    min-height: 43vh;
    min-width: 85vw;
    max-width: 85vw;
    flex-direction: column;
    margin-bottom: 30%;
    padding: 20px 10px;
    text-align: center;
    background-color: #f8d2d2 !important;
  }

  .event-main .arrow-right {
    transform: translate(50px, -30px) !important;
  }
  .event-main .arrow-left {
    transform: translate(-50px, -30px) !important;
  }
}
