.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 35%;
    left: 10%;
    position: absolute;
    animation: an 1s ease-out both;
    animation-delay: 2s;
}

@keyframes an {
    from {
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to {
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

.mob-logo-dsc {
    opacity: 0;
}

.marquee {
    position: fixed;
    top: 96vh;
    width: 100vw;
    max-width: 100%;
    height: 20%;
    overflow-x: hidden;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}