.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 35%;
    left: 10%;
    position: absolute;
    animation: an 1s ease-out both;
    animation-delay: 2s;
}

@keyframes an {
    from {
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to {
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

.bg {
    position: fixed;
    left: 48%;
    /* top: -80%; */
    width: 1424px;
    /* height: 1424px; */
    /* border-bottom-left-radius: 100%; */
    animation: bg-green 2s ease;
    height: 100vh;
    width: 100%;
}

.bg::before{
    content: "";
    position: absolute;
    z-index: 1;
    background: #c8ffe4;
    height: 83%;
    width: 53%;
    bottom: 18%;
    border-bottom-left-radius: 100%;
}

@keyframes bg-green {
    0% {
        transform: scale(5);
    }
    100% {
        transform: scale(1);
    }
}

.bg .logo-dsc {
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 25%;
    left: 60%;
    border-radius: 100%;
    animation: breathing 4s linear infinite normal;
    animation-delay: 2s;
    opacity: 0;
    z-index: 3;
}

@media screen and (max-width: 700px) {
    .bg .logo-dsc {
    }
  }
  @media screen and (max-width: 620px) {
    .bg .logo-dsc {
      width: 180px;
      height: 180px;
    }
  }
  @media screen and (max-width: 580px) {
    .bg .logo-dsc {
      width: 160px;
      height: 160px;
    }
  }
  @media screen and (max-width: 530px) {
    .bg .logo-dsc {
    }
  }
  @media screen and (max-width: 490px) {
    .bg .logo-dsc {
    }
  }
  @media screen and (max-width: 425px) {
    .bg .logo-dsc {
      width: 135px;
      height: 135px;
    }
  }
  @media screen and (max-width: 385px) {
    .bg .logo-dsc {
    }
  }
  @media screen and (max-width: 360px) {
    .bg .logo-dsc {
      width: 115px;
      height: 115px;
    }
  }
  @media screen and (max-width: 330px) {
    .bg .logo-dsc {
      width: 100px;
      height: 100px;
    }
  }

@keyframes breathing {
    0% {transform: scale(.9);opacity: 1;}
    25% {transform: scale(1);}
    50% {transform: scale(.9);}
    75% {transform: scale(1);}
    100% {transform: scale(.9);opacity: 1;}
}