.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 35%;
    left: 10%;
    position: absolute;
    animation: an 1s ease-out both;
    animation-delay: 2s;
}

@keyframes an {
    from {
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to {
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}


